body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
	color: #0d3d65;
}

.container {
    text-align: center;
	/* border: 3px solid red; */
	/* border-radius: 2em; */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
#message-success {
	color: #4caf50;
}
#message-error{
	color: #d70000;
}
#message-warn {
	color: #d75f00;
}
p {
    font-size: 1em;
}

input {
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
}
input, button{
	border-radius: 12px;
}
button {
    margin-top: 10px;
    padding: 5px 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

